.tip-button {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    background-color: #00474B;
    color: #fff;
    padding: 6px 44px;
    border-radius: 5px;
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
    cursor: pointer;
}

.tip-button:hover {
    background-color: #9FE8DF;
    color: #00474B;
}