@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

section.container {
    width: 920px;
    height: 480px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
    padding: 32px;
    box-sizing: border-box;
    font-family: 'Space Mono';
    display: flex;
    justify-content: space-between;
}

.bill-section h3 {
    color: #5E7A7D;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    width: 379px;
    margin: 0px;
    margin-bottom: 6px;
}

.bill-section h3:nth-of-type(2) {
    margin-bottom: 16px;
}

.input-container {
    position: relative;
    margin-bottom: 40px;
    /* border: 1px solid red; */
}

.input-container span {
    position: absolute;
    left: 19.26px;
    transform: translateY(15%);
    font-size: 24px;
    color: #9EBBBD;
}

.input-container input {
    width: 100%;
    outline: none;
    border: 2px solid transparent;
    background-color: #F3F9FA;
    font-size: 24px;
    line-height: 34px;
    border-radius: 5px;
    padding: 6px 17px 6px 19px;
    text-align: right;
    appearance: none;
    font-family: 'Space Mono';
    font-weight: 700;
    color: #00474B;
    transition: border 150ms ease-in-out;
}

.input-container input:focus {
     border: 2px solid #26C2AE;
}

.input-container input[type="number"]::-webkit-outer-spin-button,
.input-container input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.total-section {
    width: 413px;
    background-color: #00474B;
    height: 100%;
    border-radius: 15px;
}